/* table SELECTモドキ */
table.imitationSelect, table.imitationPulldown {
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 3px;
  overflow: hidden;
  background: #e8e8e8;
  color: black;
  line-height: 0px; /* これを入れないと、下に隙間が出来る場合がある */
  cursor: pointer;
}
/* table (1行表示用) */
table.imitationSelect {
  position: relative;
  overflow: visible;    /* プルダウンをハミ出させる(tableの規定値は hidden なので) */
  z-index: 10;
}
/* table (プルダウン用) */
table.imitationPulldown {
  position: absolute;
  z-index: 12;
  left: -1px; top: -1px;  /* border サイズ分を引く */
}

/* tr (1行表示用) */
table.imitationSelect tr {
  height: 16px;   /* 画像.height + 2 (borderの分を足す) */
  font-size: 11px;  /* 画像.height - 3 */
}
/* tr (プルダウン用) */
table.imitationPulldown tr {
  height: 30px; /* タップしやすいように広げる */
  font-size: 13px;  /* 文字も大きく */
}
table.imitationPulldown tr:nth-child(2n) {
  background: #d8d8d8;  /* 偶数行の背景色 */
}
table.imitationPulldown tr:hover {
  background: #808080;  /* hover時 */
  color: white;
}

/* td (共通) */
table.imitationSelect td, table.imitationPulldown td {
  vertical-align: middle; /* 縦方向 中央寄せ */
}
td.imitationImage {
  width: 32px;      /* 使われる複数 image の中の最大幅 +α */
  text-align: center; /* 画像は中央 */
}
td.imitationText {
  text-align: left;   /* 文字は左寄せ */
}