
.container {
  margin:20px;
}

.field {
  display: flex;
}

.inputtext {
  color:rgba(43, 32, 32, 0.76) ;
  font-size: 18px;
  border-left: 0;
  border-right: 0;
  width: 80px;
  line-height: 3rem;
  text-align: center;
  border: 1px solid #D7DBDD;
  padding: 0 10px;
}

.button {
  color:rgba(43, 32, 32, 0.76) ;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 25px;
  background-color: white;
  border: 1px solid #D7DBDD;
  border-radius: 0;
  outline: 0;
}

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.drawer {
  position: relative;
}
.drawer__checkbox {
  display: none;
}
.drawer__icon {
  cursor: pointer;
  display: block;
  width: 56px;
  height: 60px;
  position: fixed;
  right: 0;
}
.drawer__icon.-parts,
.drawer__icon.-parts:before,
.drawer__icon.-parts:after {
  background-color: #000;
  display: block;
  width: 26px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.drawer__icon.-parts:before,
.drawer__icon.-parts:after {
  content: " ";
}
.drawer__icon.-parts:before {
  top: 16px;
}
.drawer__icon.-parts:after {
  top: -16px;
}
.drawer__overlay {
  background: #000;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}
.drawer__menu {
  background: #fff;
  color: #000;
  max-width: 100%;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: -320px;
}
.drawer__icon {
  z-index: 4;
}
.drawer__menu {
  z-index: 3;
}
.drawer__overlay {
  z-index: 2;
}
.drawer__checkbox:checked ~ .drawer__icon .drawer__icon.-parts {
  background: transparent;
}
.drawer__checkbox:checked ~ .drawer__icon .drawer__icon.-parts:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
.drawer__checkbox:checked ~ .drawer__icon .drawer__icon.-parts:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
.drawer__checkbox:checked ~ .drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}
.drawer__checkbox:checked ~ .drawer__menu {
  right: 0;
}
.drawer__icon.-parts,
.drawer__icon.-parts:after,
.drawer__icon.-parts:before,
.drawer__overlay,
.drawer__menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}